## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,1,Butaritari,KI,82.71,broken clouds,3.0707,172.7902,Isles Sunset Lodge
1,8,Hilo,US,78.80,light rain,19.7297,-155.0900,Hilo Hawaiian Hotel
2,13,Lorengau,PG,86.34,few clouds,-2.0226,147.2712,Lorengau Harbourside Hotel
3,14,Georgetown,MY,84.13,few clouds,5.4112,100.3354,Cititel Penang
4,17,Kavieng,PG,84.51,light rain,-2.5744,150.7967,Nusa Island Retreat

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
#more html building
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp}°F</dd>
</dl>
"""

hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
locations = vacation_df[["Lat", "Lng"]]
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center = (30.0, 31.0), zoom_level = 1.5)
heat_layer = gmaps.heatmap_layer(locations, weights = max_temp,
                                dissipating = False, 
                                max_intensity = 300,
                                point_radius = 4)
marker_layer = gmaps.marker_layer(locations, info_box_content = hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
array = vacation_df.loc[vacation_df["City"] == "Hilo"].to_numpy()
array[0]

array([8, 'Hilo', 'US', 78.8, 'light rain', 19.7297, -155.09,
       'Hilo Hawaiian Hotel'], dtype=object)

In [23]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df['City'] == 'Hilo']
vacation_end = vacation_df.loc[vacation_df['City'] == 'Hilo']
vacation_stop1 = vacation_df.loc[vacation_df['City'] == 'Kavieng']
vacation_stop2 = vacation_df.loc[vacation_df['City'] == 'Atuona'] 
vacation_stop3 = vacation_df.loc[vacation_df['City'] == 'Banjar']

In [24]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = (vacation_start.to_numpy()[0][5], vacation_start.to_numpy()[0][6])
end = (vacation_end.to_numpy()[0][5], vacation_end.to_numpy()[0][6])
stop1 = (vacation_stop1.to_numpy()[0][5], vacation_stop1.to_numpy()[0][6])
stop2 = (vacation_stop2.to_numpy()[0][5], vacation_stop2.to_numpy()[0][6])
stop3 = (vacation_stop3.to_numpy()[0][5], vacation_stop3.to_numpy()[0][6])

In [32]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
route = gmaps.directions_layer(start, end, waypoints = [stop1, stop2, stop3], travel_mode = "WALKING")
fig.add_layer(route)
fig

Figure(layout=FigureLayout(height='420px'))

In [27]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, 
                          vacation_stop1, 
                          vacation_stop2, 
                          vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,8,Hilo,US,78.80,light rain,19.7297,-155.0900,Hilo Hawaiian Hotel
1,17,Kavieng,PG,84.51,light rain,-2.5744,150.7967,Nusa Island Retreat
2,39,Atuona,PF,77.50,light rain,-9.8000,-139.0333,Villa Enata
3,24,Banjar,ID,82.26,overcast clouds,-8.1900,114.9675,The Hamsa Resort

In [28]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp}°F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [29]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center = (30, 31), zoom_level = 1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content = hotel_info)
fig.add_layer(marker_layer)


# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))